src/main/resources/ex4.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsimportex.ws.javajee.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsimportex.ws.javajee.com/" name="EmployeeServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://wsimportex.ws.javajee.com/" schemaLocation="http://127.0.0.1:8888/ex4?xsd=1"/>
</xsd:schema>
</types>
<message name="findEmployees">
<part name="parameters" element="tns:findEmployees"/>
</message>
<message name="findEmployeesResponse">
<part name="parameters" element="tns:findEmployeesResponse"/>
</message>
<message name="findEmployee">
<part name="parameters" element="tns:findEmployee"/>
</message>
<message name="findEmployeeResponse">
<part name="parameters" element="tns:findEmployeeResponse"/>
</message>
<message name="findAllEmployees">
<part name="parameters" element="tns:findAllEmployees"/>
</message>
<message name="findAllEmployeesResponse">
<part name="parameters" element="tns:findAllEmployeesResponse"/>
</message>
<portType name="EmployeeService">
<operation name="findEmployees">
<input wsam:Action="http://wsimportex.ws.javajee.com/EmployeeService/findEmployeesRequest" message="tns:findEmployees"/>
<output wsam:Action="http://wsimportex.ws.javajee.com/EmployeeService/findEmployeesResponse" message="tns:findEmployeesResponse"/>
</operation>
<operation name="findEmployee">
<input wsam:Action="http://wsimportex.ws.javajee.com/EmployeeService/findEmployeeRequest" message="tns:findEmployee"/>
<output wsam:Action="http://wsimportex.ws.javajee.com/EmployeeService/findEmployeeResponse" message="tns:findEmployeeResponse"/>
</operation>
<operation name="findAllEmployees">
<input wsam:Action="http://wsimportex.ws.javajee.com/EmployeeService/findAllEmployeesRequest" message="tns:findAllEmployees"/>
<output wsam:Action="http://wsimportex.ws.javajee.com/EmployeeService/findAllEmployeesResponse" message="tns:findAllEmployeesResponse"/>
</operation>
</portType>
<binding name="EmployeeServiceImplPortBinding" type="tns:EmployeeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmployeeServiceImplService">
<port name="EmployeeServiceImplPort" binding="tns:EmployeeServiceImplPortBinding">
<soap:address location="http://127.0.0.1:8888/ex4"/>
</port>
</service>
</definitions>